{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1> Создание курса </h1>
    <hr align="left" width="600" class="hr" />

    <div class="row">
        <div class="col-md-6">
            <form action="" method="post">
                <div class="form-group">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.name.label(class_="control-label") }}<br>
                        {{ form.name(class_="form-control") }}<br>
                        {% for error in form.name.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                </div>

                <p>{{ form.submit() }}</p>

            </form>
        </div>
    </div>
{% endblock %}