{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1> Изменение информации о профиле </h1>
    <hr align="left" width="600" class="hr" />

    <div class="row">
        <div class="col-md-6">
            <form action="" method="post" class="form">
                <div class="form-group">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.username.label(class_="control-label") }}<br>
                        {{ form.username(class_="form-control")}}<br>
                        {% for error in form.username.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.email.label(class_="control-label") }}<br>
                        {{ form.email(class_="form-control") }}<br>
                        {% for error in form.email.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.name.label(class_="control-label") }}<br>
                        {{ form.name(class_="form-control") }}<br>
                    </p>
                    <p>
                        {{ form.telegram_id.label(class_="control-label") }}<br>
                        {{ form.telegram_id(class_="form-control") }}<br>
                    </p>
                    <p>
                        {{ form.lms_id.label(class_="control-label") }}<br>
                        {{ form.lms_id(class_="form-control") }}<br>
                    </p>
                </div>

                <p> {{ form.submit() }}</p>
            </form>
        </div>
    </div>
{% endblock %}