{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1> Изменение информации о профиле </h1>
    <hr align="left" width="600" class="hr" />

    <div class="row">
        <div class="col-md-6">
            <form action="" method="post" class="form">
                <div class="form-group">
                    {{ form.hidden_tag() }}
                    {% with %} {% set  specificform = form.username %} {% include "helpers/field_form.html" %} {% endwith %}
                    {% with %} {% set  specificform = form.email %} {% include "helpers/field_form.html" %} {% endwith %}
                    {% with %} {% set  specificform = form.name %} {% include "helpers/field_form.html" %} {% endwith %}
                    {% with %} {% set  specificform = form.telegram_id %} {% include "helpers/field_form.html" %} {% endwith %}
                    {% with %} {% set  specificform = form.lms_id %} {% include "helpers/field_form.html" %} {% endwith %}
                    При установке галочки в данном поле все письма будут отправляться с почты {{ default_mail }}. Будьте осторожны с данной настройкой
                    {% with %} {% set  specificform_boolean = form.flag_emails_from_default_mail %} {% include "helpers/boolean_field.html" %} {% endwith %}
                </div>

                <p> {{ form.submit() }}</p>
            </form>
        </div>
    </div>
{% endblock %}