{% extends "base.html" %}

{% block app_content %}
    <div>
        <h1> Информация о профиле </h1>
        <a class="btn btn-success" style="position: relative; bottom: 45px; left: 420px" href="{{ url_for('profile.editprofile') }}">
            <i class="glyphicon glyphicon-pencil glyphglyphicon" style="width:10px"></i>
        </a>
    </div>
    <hr align="left" width="400" class="hr" />

    <p class="profile_text"> <b>Логин:</b> {{ current_user.username }} </p>

    <p class="profile_text"> <b>E-mail:</b> {{ current_user.email }} </p>

    {% if current_user.name is not none and current_user.name != "" %}
    <p class="profile_text"> <b>Имя (показывается в письме в качестве отправителя):</b> {{ current_user.name }} </p>
    {% endif %}

    {% if current_user.telegram_id is not none %}
    <p class="profile_text"> <b>Telegram Id:</b> {{ current_user.telegram_id }} </p>
    {% endif %}

    {% if current_user.telegram_nickname is not none %}
    <p class="profile_text"> <b>Telegram Nickname:</b> {{ current_user.telegram_nickname }} </p>
    {% endif %}

    {% if current_user.lms_id is not none %}
    <p class="profile_text"> <b>LMS Id:</b> {{ current_user.lms_id }} </p>
    {% endif %}

    <p class="profile_text"> <b>Автоматическая отправка писем с почты</b> {{ default_mail }}:
    {% if current_user.flag_emails_from_default_mail == false %}
        Нет
    {% else %}
         Да
    {% endif %}
    </p>

    <a style="font-size: 2rem;" href="{{ url_for('profile.reset_password') }}">{{ 'Изменить пароль' }}</a>

{% endblock %}
