<p>Добрый день!</p>

<p>Оплата была успешно получена. Вы успешно были подключены к курсу.</p>

<p>Ссылка на электронный чек: <a href="{{ check_link }}">{{ check_link }}</a></p>

<p>Все материалы (в том числе записи занятий и домашние задания) будут публиковаться в системе дистанционного обучения (для краткости - СДО).</p>

<p>Ссылка на курс: <a href="http://software-testing.ru/lms/course/view.php?id={{ course_id }}">http://software-testing.ru/lms/course/view.php?id={{ course_id }}</a></p>

<p>Не забудьте связаться со мной в мессенджере telegram. Там Вы сможете задать любые вопросы касательно содержимого курса.</p>

<p>Telegram: <a href="https://t.me/{{ telegram_nickname }}">https://t.me/{{ telegram_nickname }}</a></p>

<p>Также Вы можете зарегистрироваться у telegram-бота, у которого можно будет получить дополнительную информацию о курсе. Ссылка на бота: https://t.me/test24422424_bot</p>

<p>Чтобы зарегистрироваться, используйте следующий код: {{ registration_code }} (введите его боту, когда он попросит).</p>

<p>Если Вы не имеете возможности использовать Telegram, то связь может осуществляться в другом мессенджере (по договоренности), например в скайпе. Однако желательно все же осуществлять связь именно в Telegram.</p>

<p>Дальнейшие инструкции находятся в СДО (Правила участия)</p>

<p>С уважением, {{ trainer_name }}</p>