{% extends "base.html" %}

{% block scripts %}
    {{super()}}
     <script type="text/javascript" src="{{ url_for('static', filename = 'addEditChecks.js') }}"></script>
     <script type="text/javascript">

     {% if not flag_emails_from_default_mail %}
         $('#save_check>input').click(function(event){
            let obj = createObjectWithParamsForOutlook()
            let subject = '{{ student.course.name }}. ' + 'Оплата за ' + obj.text_block  + ' получена.'
            let msg_first_payment = `Добрый день! <br/><br/>

Оплата была успешно получена. Вы успешно были подключены к курсу. <br/><br/>

Ссылка на электронный чек: <a href="${obj.check_link}">${obj.check_link}<a/> <br/><br/>

Все материалы (в том числе записи занятий и домашние задания) будут публиковаться в системе дистанционного обучения (для краткости - СДО). <br/><br/>

Ссылка на курс: <a href="http://software-testing.ru/lms/course/view.php?id={{ course_id }}">http://software-testing.ru/lms/course/view.php?id={{ course_id }}<a/> <br/><br/>

Не забудьте связаться со мной в мессенджере telegram. Там Вы сможете задать любые вопросы касательно содержимого курса. <br/><br/>

Telegram: <a href="https://t.me/{{ telegram_nickname }}">https://t.me/{{ telegram_nickname }}<a/> <br/><br/>

Также Вы можете зарегистрироваться у telegram-бота, у которого можно будет получить дополнительную информацию о курсе. Ссылка на бота: https://t.me/test24422424_bot

Чтобы зарегистрироваться, используйте следующий код: {{ registration_code }} (введите его боту, когда он попросит).

Если Вы не имеете возможности использовать Telegram, то связь может осуществляться в другом мессенджере (по договоренности), например в скайпе. Однако желательно все же осуществлять связь именно в Telegram. <br/><br/>

Дальнейшие инструкции находятся в СДО (Правила участия) <br/><br/>

С уважением, {{ trainer_name }}`
            let msg_not_first_payment = `Добрый день. <br/><br/>

Оплата за ${obj.text_block} была успешно получена. <br/><br/>

Ссылка на электронный чек: <a href="${obj.check_link}">${obj.check_link}<a/> <br/><br/>

С уважением, {{ trainer_name }}`
            if ($("#is_first_payment").prop("checked")) {
                generate_draft(subject, "{{ student.email }}", msg_first_payment)
            }
            else {
                generate_draft(subject, "{{ student.email }}", msg_not_first_payment)
            }
         });
     {% endif %}
     </script>
{% endblock %}

{% block app_content %}
    <h1> Добавление чека студенту {{ student.name }}</h1>

    <hr align="left" width="600" class="hr" />

        <div class="row">
            <div class="col-md-6">
                <form action="" method="post">
                    <div class="form-group">
                        {{ form.hidden_tag() }}
                        {% with %} {% set  specificform = form.block_number %} {% include "helpers/field_form.html" %} {% endwith %}
                        {% with %} {% set  specificform = form.link %} {% include "helpers/field_form.html" %} {% endwith %}
                        {% with %} {% set  specificform = form.amount %} {% include "helpers/field_form.html" %} {% endwith %}
                        {% if add_or_edit == "add" %}
                          {% with %} {% set  specificform_boolean = form.is_first_payment %} {% include "helpers/boolean_field.html" %} {% endwith %}
                        {% endif %}
                    </div>
                    <p id="save_check" class="control-label">{{ form.submit() }}</p>
                </form>
            </div>
        </div>
{% endblock %}
