{% extends "base.html" %}

{% block app_content %}
    <h1> Список чеков студента <b>{{ student_name }}</b></h1>
    <a class="btn btn-primary navbar-btn" href="{{ url_for('students.index', course_id=course_id) }}">Вернуться к курсу {{ course_name }}</a>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th style="border: 1px solid black;">Блок</th>
                        <th style="border: 1px solid black;">Ссылка</th>
                        <th style="border: 1px solid black;">Дата</th>
                        <th style="border: 1px solid black;">Действия</th>
                    </tr>
                    {% for check in checks %}
                        <tr>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <a class="btn btn-success navbar-btn" href="{{ url_for('checks.add', student_id=student_id) }}">Добавить чек</a>
    </div>
{% endblock %}
