{% extends "base.html" %}

{% block app_content %}
    <h1> Привет, {{ current_user.username }}</h1>
    <br>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <tr>
                    <th>Lms ID</th>
                    <th>Название курса</th>
                    <th>Действия</th>
                    </tr>

                    {% for course in courses %}
                    <tr>
                        <td>
                        Заглушка
                        </td>
                        <td>
                        {{course.name}}
                        </td>
                        <td>
                            <a title="Edit" class="btn btn-primary" href="{{ url_for('coursecreate.edit', course_id=course.id) }}">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter{{course.id}}">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter{{course.id}}">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle{{course.id}}">Deleting Post Permanently</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h3>{{course.name}}??</h3>
                                            <p>Are you sure?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <form action="{{url_for('coursecreate.delete')}}" method="post">
                                                <input type="hidden" name="course_id" value="{{ course.id }}">
                                                <input type="submit" value="Delete" class="btn btn-danger">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <div class="text-center">
            <ul class="pagination pagination-lg">
                {% if prev_url %}
                    <li class="page-item">
                    <a class="page-link page-item" href="{{ prev_url }}">Предыдущая</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                    <a aria-disabled="true" class="page-link page-item" href="#">Предыдущая</a>
                    </li>
                {% endif %}

                {% if next_url %}
                    <li class="page-item">
                    <a class="page-link page-item" href="{{ next_url }}">Следующая</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                    <a aria-disabled="true" class="page-link page-item" href="#">Следующая</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}
