{% extends "base.html" %}

{% block app_content %}
    <h1> Привет, {{ current_user.username }}</h1>
    <br>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <tr>
                    <th>Lms ID</th>
                    <th>Название курса</th>
                    <th>Действия</th>
                    </tr>

                    {% for course in courses %}
                    <tr>
                        <td>
                        Заглушка
                        </td>
                        <td>
                        course.name
                        </td>
                        <td>
                        Заглушка
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% if prev_url %}
        <a href="{{ prev_url }}">{{ current_page-1 }}</a>
    {% endif %}
    {% if next_url %}
        <a href="{{ next_url }}">{{ current_page+1 }}</a>
    {% endif %}
{% endblock %}
