{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
    {{super()}}
     <script type="text/javascript" src="{{ url_for('static', filename = 'createedit.js') }}"></script>
{% endblock %}

{% block app_content %}
    <h1> {{ title }} </h1>
    <hr align="left" width="600" class="hr" />

    <div class="row">
        <div class="col-md-6">
            <form action="" method="post">
                <div class="form-group">
                    {{ form.hidden_tag() }}
                    {% with %} {% set  specificform = form.lms_id %} {% include "helpers/field_form.html" %} {% endwith %}
                    {% with %} {% set  specificform = form.name %} {% include "helpers/field_form.html" %} {% endwith %}
                    {% with %} {% set  specificform = form.trainer_telegram_id %} {% include "helpers/field_form.html" %} {% endwith %}
                    {% with %} {% set  specificform = form.trainer_lms_id %} {% include "helpers/field_form.html" %} {% endwith %}
                    {% with %} {% set  specificform = form.review_link %} {% include "helpers/field_form.html" %} {% endwith %}
                    {% with %} {% set  specificform = form.number_homeworks %} {% include "helpers/field_form.html" %} {% endwith %}
                    {% with %} {% set  specificform = form.default_number_of_days %} {% include "helpers/field_form.html" %} {% endwith %}
                    {% with %} {% set  specificform_boolean = form.is_more_then_one_block %} {% set  specificform_hidden = form.number_of_blocks %} {% include "helpers/boolean_and_hidden_field.html" %} {% endwith %}
                    {% with %} {% set  specificform_boolean = form.is_certificate_needed %} {% include "helpers/boolean_field.html" %} {% endwith %}
                </div>

                <p class="control-label">{{ form.submit() }}</p>

            </form>
        </div>
    </div>
{% endblock %}