{% block boolean_and_hidden_form %}
     <p>
        {{ specificform_boolean.label(class_="control-label") }}
        {{ specificform_boolean}}<br>
    </p>

    {% if specificform_boolean.data %}
        <p id="{{ specificform_hidden.id }}_p">
    {% else %}
        <p id="{{ specificform_hidden.id }}_p" style="display: none;">
    {% endif %}
        {{ specificform_hidden.label(class_="control-label") }}<br>
        {{ specificform_hidden(class_="form-control") }}<br>
        {% for error in specificform_hidden.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
{% endblock %}

