{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{super()}}
     <link rel="stylesheet"
     href="{{url_for('static', filename='base.css')}}">
{% endblock %}

{% block title %}
    {% if title %}{{ title }} {% else %}{{ 'Стандартный заголовок' }}{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar bg-primary">
        {% if current_user.is_authenticated %}
        <div class="container">
            <div class="navbar-header">
                <a class="btn btn-success navbar-btn" href="{{ url_for('main.index') }}">Курсы</a>
                <a class="btn btn-success navbar-btn" href="{{ url_for('coursecreate.create') }}">Добавить курс</a>
            </div>
            <div class="nav navbar-nav navbar-right">
                <div class="btn-group">
                    <a class="btn btn-success navbar-btn" href="{{ url_for('profile.profile') }}">
                    <i class="glyphglyphicon glyphicon-user glyphicon"></i>
                    </a>
                    <div class="btn-group pull-right ml-20">
                        <a class="btn dropdown-toggle btn-success navbar-btn" data-toggle="dropdown"> <span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            <li><a href="{{ url_for('profile.profile') }}">
                            <i class="glyphglyphicon glyphicon-user glyphicon"></i>
                                Профиль
                            </a></li>

                            <li class="divider"></li>

                            <li><a href="{{ url_for('auth.logout') }}">
                            <i class="glyphicon glyphglyphicon glyphicon-off"></i>
                                Выход
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}